<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); -%>
</head>

<body>
    <%- include('navbar'); -%>
    <div class="container">
        <h3>Build a poll</h3>
        <p>Create a simple poll and track results.</p>

        <p>Tools used: node.js, express, ejs, Firebase real-time database</p>
        <form action="/create">
            <input type="submit" value="Get Started" class="btn btn-info btn-sm" />
        </form>
    </div>
</body>

</html>